<!DOCTYPE html>
<html>

<head>
  <title>Uusi kirja-arvostelu</title>
</head>

<body>
  <h1>Uusi kirja-arvostelu</h1>
  <form action="/create_item" method="post">
    <p>
      Kirjan nimi: <br />
      <input type="text" name="book_name" maxlength="50" required />
    </p>
    <p>
      Kirjailija: <br />
      <input type="text" name="writer" maxlength="50" required />
    </p>
    <p>
      Arvostelu: <br />
      <textarea name="review" rows="20" cols="80" maxlength="5000" required ></textarea>
      </p>
    <p>
      Arvosana (1-5): <br />
      <input type="text" name="rating" size="4" pattern="[1-5]{1,5}"/>
      </p>
      <p>
        Genre: <br />
        <select name="book_genre">
          <option value="">(Valitse)</option>
          <option value="dekkari">Dekkari</option>
          <option value="kauhu">Kauhu</option>
          <option value="fantasia">Fantasia</option>
          <option value="tieto">Tieto</option>
          <option value="scifi">Scifi</option>
          <option value="romantiikka">Romantiikka</option>
        </select>
      </p>
      <p>
        Kohderymä: <br />
        <select name="audience">
          <option value="">(Valitse)</option>
          <option value="lapset">Lapset</option>
          <option value="nuoret">Nuoret</option>
          <option value="aikuiset">Aikuiset</option>
        </select>
      </p>
    <input type="submit" value="Luo kirja-arvostelu" />
  </form>
</body>

</html>